In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/Fraud.csv')
print(data)

        step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0          1   PAYMENT    9839.64  C1231006815      170136.00       160296.36
1          1   PAYMENT    1864.28  C1666544295       21249.00        19384.72
2          1  TRANSFER     181.00  C1305486145         181.00            0.00
3          1  CASH_OUT     181.00   C840083671         181.00            0.00
4          1   PAYMENT   11668.14  C2048537720       41554.00        29885.86
...      ...       ...        ...          ...            ...             ...
219760    14   PAYMENT     591.50  C1443113739      104879.68       104288.18
219761    14   PAYMENT   14839.24   C554257502      104288.18        89448.94
219762    14   CASH_IN  144258.67   C865880896      298512.00       442770.67
219763    14  CASH_OUT  348453.47  C1483305396       11894.00            0.00
219764    14   PAYMENT   38981.58   C862563675          11.00             NaN

           nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0       M1979787155            0.00             0.0      0.0             0.0
1       M2044282225            0.00             0.0      0.0             0.0
2        C553264065            0.00             0.0      1.0             0.0
3         C38997010        21182.00             0.0      1.0             0.0
4       M1230701703            0.00             0.0      0.0             0.0
...             ...             ...             ...      ...             ...
219760   M936090293            0.00             0.0      0.0             0.0
219761  M1152875694            0.00             0.0      0.0             0.0
219762   C351716642       891449.26        747190.6      0.0             0.0
219763   C466835398       373004.93        721458.4      0.0             0.0
219764          NaN             NaN             NaN      NaN             NaN

[219765 rows x 11 columns]

In [ ]:
newdf=data.head(50)
newdf

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0.0,0.0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0.0,0.0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0.0,0.0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0.0,0.0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0.0,0.0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0.0,0.0
10,1,DEBIT,9644.94,C1900366749,4465.00,0.00,C997608398,10845.0,157982.12,0.0,0.0
11,1,PAYMENT,3099.97,C249177573,20771.00,17671.03,M2096539129,0.0,0.00,0.0,0.0
12,1,PAYMENT,2560.74,C1648232591,5070.00,2509.26,M972865270,0.0,0.00,0.0,0.0
13,1,PAYMENT,11633.76,C1716932897,10127.00,0.00,M801569151,0.0,0.00,0.0,0.0
14,1,PAYMENT,4098.78,C1026483832,503264.00,499165.22,M1635378213,0.0,0.00,0.0,0.0
15,1,CASH_OUT,229133.94,C905080434,15325.00,0.00,C476402209,5083.0,51513.44,0.0,0.0
16,1,PAYMENT,1563.82,C761750706,450.00,0.00,M1731217984,0.0,0.00,0.0,0.0
17,1,PAYMENT,1157.86,C1237762639,21156.00,19998.14,M1877062907,0.0,0.00,0.0,0.0
18,1,PAYMENT,671.64,C2033524545,15123.00,14451.36,M473053293,0.0,0.00,0.0,0.0
19,1,TRANSFER,215310.30,C1670993182,705.00,0.00,C1100439041,22425.0,0.00,0.0,0.0
20,1,PAYMENT,1373.43,C20804602,13854.00,12480.57,M1344519051,0.0,0.00,0.0,0.0
21,1,DEBIT,9302.79,C1566511282,11299.00,1996.21,C1973538135,29832.0,16896.70,0.0,0.0
22,1,DEBIT,1065.41,C1959239586,1817.00,751.59,C515132998,10330.0,0.00,0.0,0.0
23,1,PAYMENT,3876.41,C504336483,67852.00,63975.59,M1404932042,0.0,0.00,0.0,0.0
24,1,TRANSFER,311685.89,C1984094095,10835.00,0.00,C932583850,6267.0,2719172.89,0.0,0.0
25,1,PAYMENT,6061.13,C1043358826,443.00,0.00,M1558079303,0.0,0.00,0.0,0.0
26,1,PAYMENT,9478.39,C1671590089,116494.00,107015.61,M58488213,0.0,0.00,0.0,0.0
27,1,PAYMENT,8009.09,C1053967012,10968.00,2958.91,M295304806,0.0,0.00,0.0,0.0
28,1,PAYMENT,8901.99,C1632497828,2958.91,0.00,M33419717,0.0,0.00,0.0,0.0
29,1,PAYMENT,9920.52,C764826684,0.00,0.00,M1940055334,0.0,0.00,0.0,0.0
30,1,PAYMENT,3448.92,C2103763750,0.00,0.00,M335107734,0.0,0.00,0.0,0.0
31,1,PAYMENT,4206.84,C215078753,0.00,0.00,M1757317128,0.0,0.00,0.0,0.0
32,1,PAYMENT,5885.56,C840514538,0.00,0.00,M1804441305,0.0,0.00,0.0,0.0
33,1,PAYMENT,5307.88,C1768242710,0.00,0.00,M1971783162,0.0,0.00,0.0,0.0
34,1,PAYMENT,5031.22,C247113419,0.00,0.00,M151442075,0.0,0.00,0.0,0.0
35,1,PAYMENT,24213.67,C1238616099,0.00,0.00,M70695990,0.0,0.00,0.0,0.0
36,1,PAYMENT,8603.42,C1608633989,253.00,0.00,M1615617512,0.0,0.00,0.0,0.0
37,1,PAYMENT,2791.42,C923341586,300481.00,297689.58,M107994825,0.0,0.00,0.0,0.0
38,1,PAYMENT,7413.54,C1470868839,297689.58,290276.03,M1426725223,0.0,0.00,0.0,0.0
39,1,PAYMENT,3295.19,C711197015,233633.00,230337.81,M1384454980,0.0,0.00,0.0,0.0
40,1,PAYMENT,1684.81,C1481594086,297.00,0.00,M1569435561,0.0,0.00,0.0,0.0
41,1,DEBIT,5758.59,C1466917878,32604.00,26845.41,C1297685781,209699.0,16997.22,0.0,0.0
42,1,CASH_OUT,110414.71,C768216420,26845.41,0.00,C1509514333,288800.0,2415.16,0.0,0.0
43,1,PAYMENT,7823.46,C260084831,998.00,0.00,M267814113,0.0,0.00,0.0,0.0
44,1,PAYMENT,5086.48,C598357562,0.00,0.00,M1593224710,0.0,0.00,0.0,0.0
45,1,PAYMENT,5281.48,C1440738283,152019.00,146737.52,M1849015357,0.0,0.00,0.0,0.0
46,1,PAYMENT,13875.98,C484199463,15818.00,1942.02,M2008106788,0.0,0.00,0.0,0.0
47,1,CASH_OUT,56953.90,C1570470538,1942.02,0.00,C824009085,70253.0,64106.18,0.0,0.0
48,1,CASH_OUT,5346.89,C512549200,0.00,0.00,C248609774,652637.0,6453430.91,0.0,0.0
49,1,PAYMENT,2204.04,C1615801298,586.00,0.00,M490391704,0.0,0.00,0.0,0.0

In [ ]:
unique_val=newdf['nameDest'].unique()
unique_val

array(['M1979787155', 'M2044282225', 'C553264065', 'C38997010',
       'M1230701703', 'M573487274', 'M408069119', 'M633326333',
       'M1176932104', 'C195600860', 'C997608398', 'M2096539129',
       'M972865270', 'M801569151', 'M1635378213', 'C476402209',
       'M1731217984', 'M1877062907', 'M473053293', 'C1100439041',
       'M1344519051', 'C1973538135', 'C515132998', 'M1404932042',
       'C932583850', 'M1558079303', 'M58488213', 'M295304806',
       'M33419717', 'M1940055334', 'M335107734', 'M1757317128',
       'M1804441305', 'M1971783162', 'M151442075', 'M70695990',
       'M1615617512', 'M107994825', 'M1426725223', 'M1384454980',
       'M1569435561', 'C1297685781', 'C1509514333', 'M267814113',
       'M1593224710', 'M1849015357', 'M2008106788', 'C824009085',
       'C248609774', 'M490391704'], dtype=object)

In [ ]:
duplicate_val=data.duplicated(subset='nameDest').sum()
print(duplicate_val)

dup=data[data.duplicated(subset='nameDest',keep=False)]
value_counts=dup['nameDest'].value_counts()
repeat=value_counts.idxmax()
repeatcnt=value_counts.max()

print("Most repeated destination address:",repeat)
print("Its occurance:",repeatcnt)

116852
Most repeated destination address: C985934102
Its occurance: 84

In [ ]:
newdf['amount']=newdf['amount'].astype('category')
print(newdf)

    step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0      1   PAYMENT    9839.64  C1231006815      170136.00       160296.36
1      1   PAYMENT    1864.28  C1666544295       21249.00        19384.72
2      1  TRANSFER     181.00  C1305486145         181.00            0.00
3      1  CASH_OUT     181.00   C840083671         181.00            0.00
4      1   PAYMENT   11668.14  C2048537720       41554.00        29885.86
5      1   PAYMENT    7817.71    C90045638       53860.00        46042.29
6      1   PAYMENT    7107.77   C154988899      183195.00       176087.23
7      1   PAYMENT    7861.64  C1912850431      176087.23       168225.59
8      1   PAYMENT    4024.36  C1265012928        2671.00            0.00
9      1     DEBIT    5337.77   C712410124       41720.00        36382.23
10     1     DEBIT    9644.94  C1900366749        4465.00            0.00
11     1   PAYMENT    3099.97   C249177573       20771.00        17671.03
12     1   PAYMENT    2560.74  C1648232591        5070.00         2509.26
13     1   PAYMENT   11633.76  C1716932897       10127.00            0.00
14     1   PAYMENT    4098.78  C1026483832      503264.00       499165.22
15     1  CASH_OUT  229133.94   C905080434       15325.00            0.00
16     1   PAYMENT    1563.82   C761750706         450.00            0.00
17     1   PAYMENT    1157.86  C1237762639       21156.00        19998.14
18     1   PAYMENT     671.64  C2033524545       15123.00        14451.36
19     1  TRANSFER  215310.30  C1670993182         705.00            0.00
20     1   PAYMENT    1373.43    C20804602       13854.00        12480.57
21     1     DEBIT    9302.79  C1566511282       11299.00         1996.21
22     1     DEBIT    1065.41  C1959239586        1817.00          751.59
23     1   PAYMENT    3876.41   C504336483       67852.00        63975.59
24     1  TRANSFER  311685.89  C1984094095       10835.00            0.00
25     1   PAYMENT    6061.13  C1043358826         443.00            0.00
26     1   PAYMENT    9478.39  C1671590089      116494.00       107015.61
27     1   PAYMENT    8009.09  C1053967012       10968.00         2958.91
28     1   PAYMENT    8901.99  C1632497828        2958.91            0.00
29     1   PAYMENT    9920.52   C764826684           0.00            0.00
30     1   PAYMENT    3448.92  C2103763750           0.00            0.00
31     1   PAYMENT    4206.84   C215078753           0.00            0.00
32     1   PAYMENT    5885.56   C840514538           0.00            0.00
33     1   PAYMENT    5307.88  C1768242710           0.00            0.00
34     1   PAYMENT    5031.22   C247113419           0.00            0.00
35     1   PAYMENT   24213.67  C1238616099           0.00            0.00
36     1   PAYMENT    8603.42  C1608633989         253.00            0.00
37     1   PAYMENT    2791.42   C923341586      300481.00       297689.58
38     1   PAYMENT    7413.54  C1470868839      297689.58       290276.03
39     1   PAYMENT    3295.19   C711197015      233633.00       230337.81
40     1   PAYMENT    1684.81  C1481594086         297.00            0.00
41     1     DEBIT    5758.59  C1466917878       32604.00        26845.41
42     1  CASH_OUT  110414.71   C768216420       26845.41            0.00
43     1   PAYMENT    7823.46   C260084831         998.00            0.00
44     1   PAYMENT    5086.48   C598357562           0.00            0.00
45     1   PAYMENT    5281.48  C1440738283      152019.00       146737.52
46     1   PAYMENT   13875.98   C484199463       15818.00         1942.02
47     1  CASH_OUT   56953.90  C1570470538        1942.02            0.00
48     1  CASH_OUT    5346.89   C512549200           0.00            0.00
49     1   PAYMENT    2204.04  C1615801298         586.00            0.00

       nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0   M1979787155             0.0            0.00      0.0             0.0
1   M2044282225             0.0            0.00      0.0             0.0
2    C553264065             0.0            0.00      1.0             0.0
3     C38997010         21182.0            0.00      1.0             0.0
4   M1230701703             0.0            0.00      0.0             0.0
5    M573487274             0.0            0.00      0.0             0.0
6    M408069119             0.0            0.00      0.0             0.0
7    M633326333             0.0            0.00      0.0             0.0
8   M1176932104             0.0            0.00      0.0             0.0
9    C195600860         41898.0        40348.79      0.0             0.0
10   C997608398         10845.0       157982.12      0.0             0.0
11  M2096539129             0.0            0.00      0.0             0.0
12   M972865270             0.0            0.00      0.0             0.0
13   M801569151             0.0            0.00      0.0             0.0
14  M1635378213             0.0            0.00      0.0             0.0
15   C476402209          5083.0        51513.44      0.0             0.0
16  M1731217984             0.0            0.00      0.0             0.0
17  M1877062907             0.0            0.00      0.0             0.0
18   M473053293             0.0            0.00      0.0             0.0
19  C1100439041         22425.0            0.00      0.0             0.0
20  M1344519051             0.0            0.00      0.0             0.0
21  C1973538135         29832.0        16896.70      0.0             0.0
22   C515132998         10330.0            0.00      0.0             0.0
23  M1404932042             0.0            0.00      0.0             0.0
24   C932583850          6267.0      2719172.89      0.0             0.0
25  M1558079303             0.0            0.00      0.0             0.0
26    M58488213             0.0            0.00      0.0             0.0
27   M295304806             0.0            0.00      0.0             0.0
28    M33419717             0.0            0.00      0.0             0.0
29  M1940055334             0.0            0.00      0.0             0.0
30   M335107734             0.0            0.00      0.0             0.0
31  M1757317128             0.0            0.00      0.0             0.0
32  M1804441305             0.0            0.00      0.0             0.0
33  M1971783162             0.0            0.00      0.0             0.0
34   M151442075             0.0            0.00      0.0             0.0
35    M70695990             0.0            0.00      0.0             0.0
36  M1615617512             0.0            0.00      0.0             0.0
37   M107994825             0.0            0.00      0.0             0.0
38  M1426725223             0.0            0.00      0.0             0.0
39  M1384454980             0.0            0.00      0.0             0.0
40  M1569435561             0.0            0.00      0.0             0.0
41  C1297685781        209699.0        16997.22      0.0             0.0
42  C1509514333        288800.0         2415.16      0.0             0.0
43   M267814113             0.0            0.00      0.0             0.0
44  M1593224710             0.0            0.00      0.0             0.0
45  M1849015357             0.0            0.00      0.0             0.0
46  M2008106788             0.0            0.00      0.0             0.0
47   C824009085         70253.0        64106.18      0.0             0.0
48   C248609774        652637.0      6453430.91      0.0             0.0
49   M490391704             0.0            0.00      0.0             0.0

<ipython-input-19-1ed197082766>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['amount']=newdf['amount'].astype('category')

In [ ]:
print(newdf['amount'].cat.categories)
print(newdf['amount'].cat.ordered)

Float64Index([    181.0,    671.64,   1065.41,   1157.86,   1373.43,   1563.82,
                1684.81,   1864.28,   2204.04,   2560.74,   2791.42,   3099.97,
                3295.19,   3448.92,   3876.41,   4024.36,   4098.78,   4206.84,
                5031.22,   5086.48,   5281.48,   5307.88,   5337.77,   5346.89,
                5758.59,   5885.56,   6061.13,   7107.77,   7413.54,   7817.71,
                7823.46,   7861.64,   8009.09,   8603.42,   8901.99,   9302.79,
                9478.39,   9644.94,   9839.64,   9920.52,  11633.76,  11668.14,
               13875.98,  24213.67,   56953.9, 110414.71,  215310.3, 229133.94,
              311685.89],
             dtype='float64')
False

In [ ]:
newdf['amount']=newdf['amount'].cat.add_categories([8974,56465])
print(newdf)

    step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0      1   PAYMENT    9839.64  C1231006815      170136.00       160296.36
1      1   PAYMENT    1864.28  C1666544295       21249.00        19384.72
2      1  TRANSFER      181.0  C1305486145         181.00            0.00
3      1  CASH_OUT      181.0   C840083671         181.00            0.00
4      1   PAYMENT   11668.14  C2048537720       41554.00        29885.86
5      1   PAYMENT    7817.71    C90045638       53860.00        46042.29
6      1   PAYMENT    7107.77   C154988899      183195.00       176087.23
7      1   PAYMENT    7861.64  C1912850431      176087.23       168225.59
8      1   PAYMENT    4024.36  C1265012928        2671.00            0.00
9      1     DEBIT    5337.77   C712410124       41720.00        36382.23
10     1     DEBIT    9644.94  C1900366749        4465.00            0.00
11     1   PAYMENT    3099.97   C249177573       20771.00        17671.03
12     1   PAYMENT    2560.74  C1648232591        5070.00         2509.26
13     1   PAYMENT   11633.76  C1716932897       10127.00            0.00
14     1   PAYMENT    4098.78  C1026483832      503264.00       499165.22
15     1  CASH_OUT  229133.94   C905080434       15325.00            0.00
16     1   PAYMENT    1563.82   C761750706         450.00            0.00
17     1   PAYMENT    1157.86  C1237762639       21156.00        19998.14
18     1   PAYMENT     671.64  C2033524545       15123.00        14451.36
19     1  TRANSFER   215310.3  C1670993182         705.00            0.00
20     1   PAYMENT    1373.43    C20804602       13854.00        12480.57
21     1     DEBIT    9302.79  C1566511282       11299.00         1996.21
22     1     DEBIT    1065.41  C1959239586        1817.00          751.59
23     1   PAYMENT    3876.41   C504336483       67852.00        63975.59
24     1  TRANSFER  311685.89  C1984094095       10835.00            0.00
25     1   PAYMENT    6061.13  C1043358826         443.00            0.00
26     1   PAYMENT    9478.39  C1671590089      116494.00       107015.61
27     1   PAYMENT    8009.09  C1053967012       10968.00         2958.91
28     1   PAYMENT    8901.99  C1632497828        2958.91            0.00
29     1   PAYMENT    9920.52   C764826684           0.00            0.00
30     1   PAYMENT    3448.92  C2103763750           0.00            0.00
31     1   PAYMENT    4206.84   C215078753           0.00            0.00
32     1   PAYMENT    5885.56   C840514538           0.00            0.00
33     1   PAYMENT    5307.88  C1768242710           0.00            0.00
34     1   PAYMENT    5031.22   C247113419           0.00            0.00
35     1   PAYMENT   24213.67  C1238616099           0.00            0.00
36     1   PAYMENT    8603.42  C1608633989         253.00            0.00
37     1   PAYMENT    2791.42   C923341586      300481.00       297689.58
38     1   PAYMENT    7413.54  C1470868839      297689.58       290276.03
39     1   PAYMENT    3295.19   C711197015      233633.00       230337.81
40     1   PAYMENT    1684.81  C1481594086         297.00            0.00
41     1     DEBIT    5758.59  C1466917878       32604.00        26845.41
42     1  CASH_OUT  110414.71   C768216420       26845.41            0.00
43     1   PAYMENT    7823.46   C260084831         998.00            0.00
44     1   PAYMENT    5086.48   C598357562           0.00            0.00
45     1   PAYMENT    5281.48  C1440738283      152019.00       146737.52
46     1   PAYMENT   13875.98   C484199463       15818.00         1942.02
47     1  CASH_OUT    56953.9  C1570470538        1942.02            0.00
48     1  CASH_OUT    5346.89   C512549200           0.00            0.00
49     1   PAYMENT    2204.04  C1615801298         586.00            0.00

       nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0   M1979787155             0.0            0.00      0.0             0.0
1   M2044282225             0.0            0.00      0.0             0.0
2    C553264065             0.0            0.00      1.0             0.0
3     C38997010         21182.0            0.00      1.0             0.0
4   M1230701703             0.0            0.00      0.0             0.0
5    M573487274             0.0            0.00      0.0             0.0
6    M408069119             0.0            0.00      0.0             0.0
7    M633326333             0.0            0.00      0.0             0.0
8   M1176932104             0.0            0.00      0.0             0.0
9    C195600860         41898.0        40348.79      0.0             0.0
10   C997608398         10845.0       157982.12      0.0             0.0
11  M2096539129             0.0            0.00      0.0             0.0
12   M972865270             0.0            0.00      0.0             0.0
13   M801569151             0.0            0.00      0.0             0.0
14  M1635378213             0.0            0.00      0.0             0.0
15   C476402209          5083.0        51513.44      0.0             0.0
16  M1731217984             0.0            0.00      0.0             0.0
17  M1877062907             0.0            0.00      0.0             0.0
18   M473053293             0.0            0.00      0.0             0.0
19  C1100439041         22425.0            0.00      0.0             0.0
20  M1344519051             0.0            0.00      0.0             0.0
21  C1973538135         29832.0        16896.70      0.0             0.0
22   C515132998         10330.0            0.00      0.0             0.0
23  M1404932042             0.0            0.00      0.0             0.0
24   C932583850          6267.0      2719172.89      0.0             0.0
25  M1558079303             0.0            0.00      0.0             0.0
26    M58488213             0.0            0.00      0.0             0.0
27   M295304806             0.0            0.00      0.0             0.0
28    M33419717             0.0            0.00      0.0             0.0
29  M1940055334             0.0            0.00      0.0             0.0
30   M335107734             0.0            0.00      0.0             0.0
31  M1757317128             0.0            0.00      0.0             0.0
32  M1804441305             0.0            0.00      0.0             0.0
33  M1971783162             0.0            0.00      0.0             0.0
34   M151442075             0.0            0.00      0.0             0.0
35    M70695990             0.0            0.00      0.0             0.0
36  M1615617512             0.0            0.00      0.0             0.0
37   M107994825             0.0            0.00      0.0             0.0
38  M1426725223             0.0            0.00      0.0             0.0
39  M1384454980             0.0            0.00      0.0             0.0
40  M1569435561             0.0            0.00      0.0             0.0
41  C1297685781        209699.0        16997.22      0.0             0.0
42  C1509514333        288800.0         2415.16      0.0             0.0
43   M267814113             0.0            0.00      0.0             0.0
44  M1593224710             0.0            0.00      0.0             0.0
45  M1849015357             0.0            0.00      0.0             0.0
46  M2008106788             0.0            0.00      0.0             0.0
47   C824009085         70253.0        64106.18      0.0             0.0
48   C248609774        652637.0      6453430.91      0.0             0.0
49   M490391704             0.0            0.00      0.0             0.0

<ipython-input-24-c862a1263b87>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['amount']=newdf['amount'].cat.add_categories([8974,56465])

In [ ]:
data .isna()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
219760,False,False,False,False,False,False,False,False,False,False,False
219761,False,False,False,False,False,False,False,False,False,False,False
219762,False,False,False,False,False,False,False,False,False,False,False
219763,False,False,False,False,False,False,False,False,False,False,False
219764,False,False,False,False,False,True,True,True,True,True,True